#casiologo{
    width: 250px;
    margin-top: 50px;
    margin-left: 100px;
}
#delllogo{
    width: 250px;
    margin-top: 60px;
    margin-left: 100px;
}
#duracellogo{
    width: 250px;
    margin-top: 10px;
    margin-left: 100px;
}
#epsonlogo{
    width: 220px;
    margin-top: 10px;
    margin-left: 110px;
}
#esetlogo{
    width: 200px;
    margin-top: 10px;
    margin-left: 125px;
}
#huaweilogo{
    width: 150px;
    margin-top: 50px;
    margin-left: 150px;
}
#intellogo{
    width: 200px;
    margin-top: 50px;
    margin-left: 125px;
}
#kingstonlogo{
    width: 220px;
    margin-top: 25px;
    margin-left: 120px;
}
#logoacer{
    width: 200px;
    margin-top: 5px;
    margin-left: 130px;
}
#logoapple{
    width: 200px;
    margin-top: 15px;
    margin-left: 130px;
}
#logoasus{
    width: 200px;
    margin-top: 15px;
    margin-left: 130px;
}
#logohp{
    width: 150px;
    margin-top: 15px;
    margin-left: 150px;
}
#logosamsung{
    width: 250px;
    margin-top: 15px;
    margin-left: 100px;
}
#logoxiaomi{
    width: 220px;
    margin-top: -15px;
    margin-left: 115px;
}